.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #2196f3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 210px; /* Same width as the sidebar + left position in px */
  margin-top: 10px;
  padding: 0px 10px;
}

div.response {
  margin-top: 20px;
  padding: 15px 15px;
}

table {
  margin-top: 20px;
}